* {
    box-sizing: border-box;
}

header {
    display: block;
    text-align: center;
    background-color: #ebeac8;
    width: 80%;
    margin: 0 auto;
}

img {
    display: block;
}

#image {
    width:60%;
    min-width: 60%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#tribute-info {
    text-align: center;
    background-color: #ebeac8;
    height: 60px;
    padding: 15px 0;
}

#img-caption {
    text-align: center;
}

#tribute-container {
    margin: 40px 0;
}

#tribute-container h2{
    width: 80%;
    margin: 0 auto;
}

#history-container {
    width: 80%;
    margin: 0 auto;
}

#history-content li{
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    list-style-type: circle;
}

#acknowledgement {
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
}

#tribute-link {
    color: rgb(145, 146, 98);
}
#more-info {
    text-align: center;
    font-size: 1.7em;
    background-color: #ebeac8;
}