header {
    display: block;
    text-align: center;
    background-color: #ebeac8;
}

img {
    display: block;
}

#image {
    width:80%;
    min-width: 60%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#tribute-info {
    text-align: center;
    background-color: #ebeac8;
    height: 60px;
    vertical-align:bottom;
}

#img-caption {
    text-align: center;
}



